    body {
      margin: 0;
      font-family: Calibri, sans-serif;
      background: rgb(94, 94, 94);
      color: #222;
    }
    header {
      background: #5c5c5c;
      color: white;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius:5%
    }
    header h1 {
      margin: 0;
      font-size: 16px;
    }
    a {
      text-decoration: none;
      padding: 8px;
      background-color: #dddddd;
      color: black;
      font-family: Calibri;
    }
    a:hover {
      background-color: #555;
      color: white;
      font-style: bold;
    }


    .main {
      display: flex;
      padding: 40px 30px;
      background: #eee;
    }
    .main img {
      background: #ccc;
      margin-right: 30px;
    }
    .intro {
      max-width: 600px;
    }
    .intro h2 {
      margin-top: 0;
    }

    .contact {
      padding: 30px;
      background: white;
    }
    .contact h3 {
      margin-top: 0;
    }

    footer {
      background: #333;
      color: white;
      text-align: center;
      padding: 15px;
      font-size: 12px;
      border-radius: 5%;
    }
