        body {
            background-color: rgb(27, 27, 27);
        }
        h1 {
            color: hwb(0 85% 15%);
            text-align: center;
            border-bottom: 1px solid #eeeeee;
        }  
        p {
            font-family: Arial;
            font-size: 20px;
            line-height: 1.6;
            font-variant: small-caps;
            font-style: italic;
            text-align: left;
        }
        .split {
            height: 90%;
            width: 50%;
            position: fixed;
            z-index: 1;
            bottom: 0;
            overflow-x: hidden;
            padding-top: 20px;
            margin: 15px;
            border-radius: 1%;
        }
        .left {
            left: 0;
            color: white;
            
        }

        .right {
            right: 0;
            background-color: rgb(39, 25, 122);
            color: white;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: justify;
        }
        ul {
            list-style-type: none;
            margin: 5px;
            padding: 0px;
            overflow: hidden;

            
        }
        li {
            display: inline;
            margin-right: 10px;
            border-radius:15%;
        }
        a {
            text-decoration: none;
            padding: 8px;
            background-color: #dddddd;
            color: black;
            font-family: Calibri;
        }
        a:hover {
            background-color: #555;
            color: white;
            font-style:bold;
        }
