        body {
            background-color: rgb(238, 251, 255);

            background-image: url("https://img.freepik.com/premium-photo/yellow-blue-abstract-creative-background-blue-abstract-background-geometric-background_481527-28134.jpg?semt=ais_hybrid&w=740&q=80");
        }
        h1 {
            color: #003dad;
            text-align: center;
            border-bottom: 1px solid #ff0000;
        }  
        p {
            font-family: Arial;
            font-size: 20px;
            line-height: 1.6;
            font-variant: small-caps;
            font-style: italic;
        }
        .split {
            height: 90%;
            width: 50%;
            position: fixed;
            z-index: 1;
            bottom: 0;
            overflow-x: hidden;
            padding-top: 20px;
            margin: 5px;
            border-radius: 1%;
        }
        .left {
            left: 0;
            color: rgb(0, 0, 0);
            
        }

        .right {
            right: 0;
            color: rgb(0, 0, 0);
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: justify;
        }
        ul {
            list-style-type: none;
            margin: 5px;
            padding: 0;
            overflow: hidden;
        }
        li {
            display: inline;
            margin-right: 10px;
            border-radius:15%;}

        header {
            background: #5c5c5c;
            color: white;
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header h1 {
            margin: 0;
            font-size: 16px;
        }
        a {
            text-decoration: none;
            padding: 8px;
            background-color: #dddddd;
            color: black;
            font-family: Calibri;
        }
        a:hover {
            background-color: #555;
            color: white;
            font-style: bold;
        }